{% extends 'base.html' %}

{% block title %} Thanks {% endblock %}


{% block content %}


<!-- Content -->
		<div id="content" class="isotope-container">

			<!-- Fluid container -->
			<div class="container-fluid">

				<!-- Page heading -->
				<div id="heading" class="row">
					<div class="col-12">

						<header>
							<h1>Дякуємо!</h1>
													</header>

					</div>
				</div>

				<!-- Main content -->
				<div class="row">
					<div class="main-column col-12">

						<!-- Inner -->
						<div class="inner">

							<div class="row">
								<div class="col-12">
<blockquote><p>Ми Вам дуже вдячні за ваше повідомлення! Найближчим часом ми надамо вам на нього відповідь.</p></blockquote>

								</div>
							</div>

						</div>



			</div>

		</div>



{% endblock %}