{% extends 'base.html' %}

{% block title %}Detail of {{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}

<!-- Content -->
<div id="content" class="isotope-container">

    <!-- Fluid container -->
    <div class="container-fluid">

        <!-- Page heading -->
        <div id="heading" class="row">
            <div class="col-12">

                <header>
                    <h1>Cуспільне життя</h1>
                    <h2>детальніше про "{{ post.title }}"</h2></header>

            </div>
        </div>

        <!-- Main content -->
        <div class="row sidebar-right">
            <div class="main-column col-9">

                <!-- Masonry blog -->
                <div class="masonry masonry-1 row">


                    <article
                            class="post type-post status-publish format-standard has-post-thumbnail hentry category-europe category-park tag-europe tag-park tag-relaxing tag-sticky tag-strolling tag-walk blog col-12">
                        <div class="image" style="background-image: url({{ post.img1.url }})"></div>
                        <div class="inner">
                            <i title="Sticky Post" class="sticky-icon fa fa-thumb-tack"></i>
                            <header>
                                <h3><a href="#" rel="bookmark">{{ post.title }}</a></h3>
                                <div class="vcard">
                                    <div class="date">On
                                        <time datetime="2014-04-17">{{ post.date_pub }}</time>
                                    </div>
                                </div>

                            </header>
                            <p>{{ post.body}}</p>
                        </div>
                        <div class="panel-footer text-muted ">
                            Теги:
                            {% for tag in post.tags.all %}
                            <a href="{% url 'blog:post_detail_url' slug=post.slug %}"> #{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </article>

                </div>


            </div>

        </div>

    </div>

</div>

{% endblock %}